.resumeTitle{
    text-align: center;
    font-size: 50px;
    color: rgb(82, 35, 177);
    text-shadow: 1px 1px rgb(75, 1, 118);
}
.btns button{
    position: fixed;
    top: 10px;
    right:10px;
    width: 70px;
    height: 40px;
    background-color:red; 
    color: white;
    font-size: 20px;
}
body{
    background-color: #f3cfff;
}
.exp-cards{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 5%;
  padding-left: 10px;
  padding-right: 10px;
}
.hexagon {
  width: 160px;
  height: 138px; /* height = width * sqrt(3)/2 for a regular hexagon */
  perspective: 1000px;
  margin: 20px;
}

.hex-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.hex-inner.active {
  transform: rotateY(180deg);
}

.hex-card-front, .hex-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(63, 19, 73);
  clip-path: polygon(
    50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
  );
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.hex-card-back {
  background: rgb(136, 152, 246);
  color: black;
  transform: rotateY(180deg);
  font-size: 90%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip-card-inner.active {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #cd9ada;
  color:rgb(108, 1, 108);
  border-radius: 5%;
  border-radius: 5%;
  border-width: 4px;
  border-style: solid;
  font-weight: 400;
}

.flip-card-back {
  background-color: rgb(252, 254, 255);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  font-weight: 150;
  border-radius: 5%;
  border-width: 4px;
  border-style: solid;
}

#planediv{
  position:absolute;
  /*transform: scaleY(-1);*/
  top: 10px;           /* initial Y position */
  left: 10px;          /* initial X position */
  /* width: 5px;         /* size */
  /* height: auto;         keeps aspect ratio */ 
  /*display: none;*/  
}

#planediv img {
  width: 150px;      /* small plane size */
  height: auto;     /* keep aspect ratio */
}